<div class="row-fluid">
	<div class="span6 hero-unit">
		<h2><%= link_to "登山届を書く",:controller => "plans", :action => "new" %></h2>
	</div>
	<div class="span6 hero-unit">
		<h2><%= link_to "登山届を書く",:controller => "plans", :action => "index" %></h2>
	</div>
</div>
